@use "../abstracts" as abs;
.contact{
  grid-column: main-start / main-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  & p {
    text-align: center;
    font-size: 1.4rem;
    font-family: abs.$font-secondary;
    letter-spacing: 1.2px;
    color: abs.$color-white;
  }
  &__socials{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 3rem;
    & img:hover{
      cursor: pointer;
      opacity: .75;
    }
  }
  & button a{
    text-decoration: none;
    color:inherit;
    font-size: inherit;
  }
}