@use "../abstracts" as abs;

.hamburger-menu-icon {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: max-content;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  z-index: 2;
  cursor: pointer;
  @media only screen and (min-width: abs.$bp-medium){
    display: none;
  }
}

.hamburger-menu-icon:has(input:focus-visible)::before,
.hamburger-menu-icon:has(input:focus-visible)::after,
.hamburger-menu-icon input:focus-visible {
  border: 1px solid abs.$color-white;
  box-shadow: 0 0 0 1px abs.$color-white;
}

.hamburger-menu-icon::before,
.hamburger-menu-icon::after,
.hamburger-menu-icon input {
  content: "";
  width: 5rem;
  height: .5rem;
  background-color: abs.$color-white;
  border-radius: .35rem;
  transform-origin: left center;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
  rotate 200ms ease-in-out, translate 200ms ease-in-out,
  background-color 200ms ease-in-out;
}

.hamburger-menu-icon input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu-icon:has(input:checked)::before {
  rotate: 45deg;
  width: calc(calc(.5rem * 3 + .75rem * 2) * 1.41421356237);
  translate: 0 calc(.5rem / -2);
}

.hamburger-menu-icon:has(input:checked)::after {
  rotate: -45deg;
  width: calc(calc(.5rem * 3 + .75rem * 2) * 1.41421356237);
  translate: 0 calc(.5rem / 2);
}

.hamburger-menu-icon input:checked {
  opacity: 0;
  width: 0;
}

.mobile-menu{
  transition: transform 200ms ease-in-out;
  transform: translateX(100%);
  padding-top: 10rem;
  background-color: abs.$color-primary;
  color: abs.$color-white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  @media only screen and (min-width: abs.$bp-medium){
    display: none;
  }
  &__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }
  &__link{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: abs.$color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: abs.$font-secondary;
  }
}

.hamburger-menu-icon:has(input:checked) + .mobile-menu {
  transform: translateX(-50%);
}