@use "../abstracts" as abs;
.error{
  z-index: 3;
  position: absolute;
  inset: 0;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: linear-gradient(to right, #dc2626,#b91c1c, #991b1b);
  & p{
    font-size: 1.6rem;
    font-weight: 700;
    color: abs.$color-white;
    text-align: center;
  }
}