@use "../abstracts" as abs;
.heading-1{
  font-size: 2.9rem;
  color: abs.$color-white;
  text-align: center;
  font-family: abs.$font-secondary;
  font-weight: abs.$font-thin;
  letter-spacing: 1.3px;
  @media only screen and (min-width: abs.$bp-medium){
    font-size: 3.3rem;
  }
}

.heading-2{
  font-size: 2.6rem;
  background-image: linear-gradient(to right, abs.$color-primary, abs.$color-tertiary, abs.$color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  @media only screen and (min-width: abs.$bp-medium){
    font-size: 3rem;
  }
}

.heading-3{
  font-size: min(1.6rem, 5vw);
  text-transform: uppercase;
  color: abs.$color-white;
  text-align: center;
}

.heading-4{
  font-size: min(1.5rem, 5vw);
  color: abs.$color-white;
  white-space: nowrap;
  letter-spacing: 1.4px;
  @media only screen and (min-width: abs.$bp-smallest){
    font-size: min(1.8rem, 7vw);
  }
}

.heading-slogan{
  text-transform: uppercase;
  position: relative;
  @media only screen and (min-width: abs.$bp-medium){margin-bottom: 3rem;}
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 105%;
    width: 100%;
    height: .5rem;
    background-color: abs.$color-primary;
    transform: skew(-25deg) translate(-50%, 0);
  }
}