$color-primary:#56CCF2;
$color-secondary:#2F80ED;
$color-tertiary:#12D8FA;
$color-dark:#262626;
$color-white:#F1F5F9;

$font-primary:'Poppins', sans-serif;
$font-secondary:'Rubik', sans-serif;
$font-thin:400;
$font-regular:500;
$font-bold:600;

$bp-smallest:40em; //640px
$bp-small:48em; //768px
$bp-medium:64em; //1024px
$bp-large:90em;//1440px